{% extends 'layout.html' %}

{% block top %}
<!-- TODO: Use super here -->
{# super() #}
<h1>Login</h1>
{% endblock %}

{% block body %}

       {%if form.errors %}<ul class="alert alert-danger">
        {% for field, errors in form.errors.items() %}<li>
            {{field}} {% for error in errors %}{{ error }}{% endfor %}
        </li>{% endfor %}
       </ul>{% endif %}

       <form action="{{ request.path }}" method="post">
            <div class="form-group">
           {{ form.csrf_token }}
            {{form.username.label}}<div class="form-control">{{ form.username }}</div><br>
            {{form.password.label}}<div class="form-control"> {{ form.password }}</div><br>
            </form>
           <input type="submit" value="Send">
       </form>

{% endblock %}
