<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
</head>
<body>

    <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
        <label for="name">Name:</label><input type="text" id="name" name="name"><br>
        <label for="level">Level:</label><input type="number" name="level" id="level"><br>
        <label for="content">Content File:</label><input type="file" name="content" id="content"><br>
        <input type="hidden" name="token" id="token" value="{{token}}">
        <input type="submit" value="Send">
    </form>










    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

</body>
</html>
